svg {
    vertical-align: middle;
}

/* image {
    mask: url(#mask);
    width: 981;
    height: 885;
}

user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}
user agent stylesheet
image {
    overflow: hidden;
} */