.carousel-caption {
    position: absolute;
    right: (100% - $carousel-caption-width) / 2;
    bottom: 60%;
    left: (100% - $carousel-caption-width) / 2;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $carousel-caption-color;
    text-align: center;
  }