.carousel-caption {
    position: absolute;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 35%;
    text-align: center;
  }  


.carousel-caption h1{
  font-size: 6rem;
}

.carousel-caption div{
  font-size: 4rem;
}

.carousel-caption p{
  font-size: 3rem;
}

@media (max-width: 1600px) {
  .carousel-caption {
    position: absolute;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 25%;
    text-align: center;
  }

  .carousel-caption h1{
    font-size: 4rem;
  }

  .carousel-caption div{
    font-size: 5rem;
  }

  .carousel-caption p{
    font-size: 4rem;
  }
}


@media (max-width: 850px) {
  .carousel-caption {
    position: absolute;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20%;
    text-align: center;
  }

  .carousel-caption h1{
    font-size: 3rem;
  }

  .carousel-caption div{
    font-size: 2rem;
  }

  .carousel-caption p{
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
  .carousel-caption {
    position: absolute;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .carousel-caption h1{
    font-size: 1.5rem;
  }

  .carousel-caption div{
    font-size: 2rem;
  }

  .carousel-caption p{
    font-size: 1.5rem;
  }
}